<%- include('partials/header') -%>
    <h1>Compose</h1>
    <!-- <form action="/compose" method="post">
        <div>
            <input name="newText" type="text"></form>

            <button>Publish</button>
        </div> -->
    <form action="/compose" method="post">
        <div class="form-group">
            <label>Title</label>
            <input name="postTitle"  type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Post</label>
            <textarea name="postBody" class="form-control" rows="5" cols="30"></textarea>
        </div>
        <div>
            <button class="btn btn-primary" type="submit" name="button">Publish</button>
        </div>
    </form>

    
    <%- include('partials/footer') -%>